- var br = '<br />'
doctype html
html
  head
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js' crossorigin="anonymous")
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css')
    meta(charset="utf-8")
    script.
      function copiarPostHtml(tipo){
        var divACopiar = document.querySelector("#"+tipo);
        console.log("#"+tipo);
        var range = document.createRange();
        if (range != null) {
          window.getSelection().removeAllRanges();
          range.selectNode(divACopiar);
          window.getSelection().addRange(range);
          document.execCommand("copy");
        }
      };
    style
      include style.css

    
    title Conversor Familia Mezzomo
  body(style="padding:5px")
    main
      each pessoa, index in pessoas
        div
          div
            h3(id="titulo"+index) #{pessoa.titulo} 
          button(type='button' id="copiar" onclick='copiarPostHtml("titulo'+ index + '")' class="btn btn-outline-primary btn-sm" title="" data-bs-original-title="CTRL C") Copiar titulo
          div(id="descricao"+index)
            p #[strong #{pessoa.nome_completo}] ★ #{(pessoa.data_nascimento != null && pessoa.data_nascimento != '') ? pessoa.data_nascimento : '00/00/0000'} #{(pessoa.local_nascimento != null && data_nascimento != '') ? ' - ' + pessoa.local_nascimento : ''} #{(pessoa.data_morte != null && pessoa.data_morte != '') ? ' ✟ ' + pessoa.data_morte : ''} #{(pessoa.local_morte != null && pessoa.local_morte != '') ? ' - ' + pessoa.local_morte : ''}
            if ( (pessoa.apelido != null && pessoa.apelido != '') || (pessoa.observacao != null && pessoa.observacao != ''))
              | #[br] #{(pessoa.apelido !=null && pessoa.apelido !='') ? 'Apelido '+pessoa.apelido +' ': ''} #{(pessoa.observacao !=null && pessoa.observacao != '') ? pessoa.observacao : ''}
            p #{(pessoa.nome_completo_conjuge !=null && pessoa.nome_completo_conjuge !='' ) ? 'Casado(a) ' : ''} #{(pessoa.data_casamento != null && pessoa.data_casamento != '') ? 'em ' + pessoa.data_casamento : ''} #{(pessoa.local_casamento != null && pessoa.local_casamento != '') ? 'em ' + pessoa.local_casamento : ''} #{(pessoa.nome_completo_conjuge !=null && pessoa.nome_completo_conjuge !='' ) ? 'com:' : ''}#[br] #[strong #{(pessoa.nome_completo_conjuge !=null && pessoa.nome_completo_conjuge !='' ) ? pessoa.nome_completo_conjuge : ''}] #{(pessoa.data_nascimento_conjuge !=null && pessoa.data_nascimento_conjuge !='' && pessoa.nome_completo_conjuge != null) ? '★ ' + pessoa.data_nascimento_conjuge : (pessoa.nome_completo_conjuge != null && pessoa.nome_completo_conjuge != '') ? '★ 00/00/0000' : ''} #{(pessoa.local_nascimento_conjuge !=null && pessoa.local_nascimento_conjuge !='') ? ' - ' + pessoa.local_nascimento_conjuge : ''} #{(pessoa.data_morte_conjuge !=null && pessoa.data_morte_conjuge !='') ? '✟ ' + pessoa.data_morte_conjuge : ''} #{(pessoa.local_morte_conjuge !=null && pessoa.local_morte_conjuge !='') ? '- ' + pessoa.local_morte_conjuge : ''} #[br] #{(pessoa.pai_nome_conjuge !=null && pessoa.pai_nome_conjuge !='') ? 'Pais dele(a): ' + pessoa.pai_nome_conjuge : ''} #{(pessoa.pai_data_nascimento_conjuge !=null && pessoa.pai_data_nascimento_conjuge !='') ? '★ '+pessoa.pai_data_nascimento_conjuge : ''} #{(pessoa.pai_local_nascimento_conjuge !=null && pessoa.pai_local_nascimento_conjuge !='') ? '- '+pessoa.pai_local_nascimento_conjuge : ''} #{(pessoa.pai_data_morte_conjuge !=null && pessoa.pai_data_morte_conjuge !='') ? '✟ '+pessoa.pai_data_morte_conjuge : ''} #{(pessoa.pai_local_morte_conjuge !=null && pessoa.pai_local_morte_conjuge !='') ? '- '+pessoa.pai_local_morte_conjuge : ''} #{(pessoa.mae_nome_conjuge !=null && pessoa.mae_nome_conjuge !='') ? 'e ' + pessoa.mae_nome_conjuge : ''} #{(pessoa.mae_data_nascimento_conjuge !=null && pessoa.mae_data_nascimento_conjuge !='') ? '★ '+pessoa.mae_data_nascimento_conjuge : ''} #{(pessoa.mae_local_nascimento_conjuge !=null && pessoa.mae_local_nascimento_conjuge !='') ? '- '+pessoa.mae_local_nascimento_conjuge : ''} #{(pessoa.mae_data_morte_conjuge !=null && pessoa.mae_data_morte_conjuge !='') ? '✟ '+pessoa.mae_data_morte_conjuge : ''} #{(pessoa.mae_local_morte_conjuge !=null && pessoa.mae_local_morte_conjuge !='') ? '- '+pessoa.mae_local_morte_conjuge : ''} #{(pessoa.pais_local_casamento_conjuge !=null && pessoa.pais_local_casamento_conjuge !='') || (pessoa.pais_data_casamento_conjuge !=null && pessoa.pais_data_casamento_conjuge !='') ? 'casados ' : ''}  #{(pessoa.pais_data_casamento_conjuge !=null && pessoa.pais_data_casamento_conjuge !='') ? 'em '+pessoa.pais_data_casamento_conjuge : ''} #{(pessoa.pais_local_casamento_conjuge !=null && pessoa.pais_local_casamento_conjuge !='') ? 'em '+pessoa.pais_local_casamento_conjuge : ''}
          
            if pessoa.filhos != null && pessoa.filhos.length > 0
              p Filhos: #[br]
                each val in pessoa.filhos
                  a(href=val.link) #{val.lf_livro_cod + " - " +val.lf_nome +" "+ val.lf_sobrenome}#[br]
        button(type='button' id="copiar" onclick='copiarPostHtml("descricao'+index+'")' class="btn btn-outline-primary btn-sm") Copiar descrição


